.subtext {
  font-family: HKGrotesk;
  font-size: 19px;
  font-weight: 500;
}
.title {
  font-family: HKGrotesk;
  font-size: 27px;
  font-weight: bold;
  color: #2a3844;
}

.typeOfProject {
    display: flex;
}

.Start-a-Project {
  font-family: HKGrotesk;
  font-size: 19px;
  font-weight: 500;
  color: #5d677e;
}

.projectTitle {
  font-family: HKGrotesk;
  font-size: 17px;
  font-weight: bold;
}

.projectCard {
    /* padding: 20px; */
    border: solid 1px #dde2e9;
    border-radius: 6px;
}

.countryInput {
  width:35%;
}

.cityInput {
  width:30%;
}

.startDateInput {
  padding: 0px 0px 0px 12px !important;
}

.endDateInput {
  padding: 0px 0px 0px 12px !important;
}

.crowdfunding_img {
  background: url('../img/crowdfunding.png') no-repeat 0;
  height:96px;
  background-position: center;
}

.crowdfunding_img_hover {
  background: url('../img/crowdfunding-active.png') no-repeat 0;
  height:96px;
  background-position: center;
}

.form-control:focus {
  box-shadow: none !important;
}

.promotions_img {
  background: url('../img/promotions.png') no-repeat 0;
  height:96px;
  background-position: center;
}

.promotions_img_hover {
  background: url('../img/promotions-active.png') no-repeat 0;
  background-position: center;
  height:96px;
  }

.socialgiving_img {
  background: url('../img/socialgiving.png') no-repeat 0;
  background-position: center;
  height:96px;
}
.socialgiving_img_hover {
  background: url('../img/socialgiving-active.png') no-repeat 0;
  background-position: center;
  height:96px;
}

.socialchange_img {
  background: url('../img/socialchange.png') no-repeat 0;
  background-position: center;
  height:96px;
}

.socialchange_img_hover {
  background: url('../img/socialchange-active.png') no-repeat 0;
  background-position: center;
  height:96px;
}

.noteinstr {
  float:right;
}


.projectCard:hover{
  border: solid 1px #16c0ef;
}

.close {
  font-family: HKGrotesk !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: #7c8796 !important;
}

.proceedButton {
    width: 252px;
    height: 50px;
    border-radius: 3px !important;
    background-color: #16c0ef !important;
    color: white !important;
    font-weight: bold !important;
}

.backButton {
  width: 252px;
  height: 50px;
  border-radius: 3px !important;
  border: solid 1px #e0e6ee !important;
  color: #16c0ef !important;
  font-weight: bold !important;
}

.proceedFooter {
    display: flex !important;
    justify-content: center !important;
}

.newProjectHeader {
    display: flex !important;
    justify-content: space-between !important;
}

.modal-card-head {
    background-color: #ffffff !important;
}

.project-title-input {
  font-family: HKGrotesk;
  font-size: 17px !important;
  font-weight: 600 !important;
  color: #2a3844 !important;
}

.syne-inputbox {
  border-radius: 3px;
  padding: 0px 0px 0px 12px;
  border: solid 1px #dde2e9;
}

.syne-project-description {
  border: none !important;
  font-family: HKGrotesk;
  font-size: 17px !important;
  font-weight: 600 !important;
  color: #bac3cf !important;
}

.Short-description-ab {
  font-family: HKGrotesk;
  font-size: 17px;
  font-weight: 600;
  color: #bac3cf;
  padding: 10px 0px 0px 12px;
}

.syne-input-label{
  font-family: HKGrotesk;
  font-size: 13px;
  font-weight: 500;
  color: #7c8796;
  padding: 0px 0px 0px 12px;

}

input[type=text] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: none !important;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 12px;
}

.popular-categories {
  font-size: 15px;
  font-weight: bold;
  color: #bac3cf;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #16c0ef !important;
  transition: width .6s ease;
}